{% extends 'base.html.twig' %}

{% block title %}Tous les films{% endblock %}

{% block body %}

<h1>Tous les films</h1>

    <ul>
    {% for movie in movies %}
        <li>{{ movie.title }}</li>
    {% endfor %}
    </ul>

{% endblock %}
